In [136]:
# Import libraries
import pandas as pd
import glob
from sqlalchemy import create_engine

In [137]:
# Data Source 1 : Import Bank of America Credit Card data
BofaCC_df = pd.concat([pd.read_csv(file) for file in glob.glob('Bofa_*.csv')], ignore_index = True)

# Remove Credit Card payments
BofaCC_df = BofaCC[~BofaCC["Payee"].str.contains('Online payment')]

# Create data frame with columns needed and rename
BofaCC_df = BofaCC_df[["Posted Date", "Payee", "Amount"]]
BofaCC_df = BofaCC_df.reset_index(drop=True)
BofaCC_df.columns = ["PostDate", "Description", "Amount"]

# Convert post date string to date
BofaCC_df["PostDate"] = pd.to_datetime(BofaCC_df["PostDate"])

BofaCC_df.head()

    PostDate                        Description  Amount
0 2019-01-09   ATT*BILL PAYMENT 800-288-2020 TX  -52.20
1 2019-01-07  MURPHY EXPRESS 8614 CEDAR PARK TX  -15.19
2 2018-12-29        JUST ENERGY 866-587-8674 TX  -72.95
3 2018-12-24     COSTCO GAS #1152 CEDAR PARK TX  -18.43
4 2019-02-18  MURPHY7666ATWALMART CEDAR PARK TX  -23.56

In [138]:
# Data Source 2 : Import Chase Credit Card data
ChaseCC = pd.read_csv("ChaseCC.csv")

# Remove Credit Card payments
ChaseCC_df = ChaseCC[ChaseCC["Type"]!= "Payment"]

ChaseCC_df = ChaseCC_df[["Post Date", "Description", "Amount"]]
ChaseCC_df = ChaseCC_df.reset_index(drop=True)

# Convert post date string to date
ChaseCC_df["Post Date"] = pd.to_datetime(ChaseCC_df["Post Date"])

ChaseCC_df.columns = ["PostDate", "Description", "Amount"]

ChaseCC_df.head()

    PostDate                Description  Amount
0 2019-08-02         SUPERCUTS TX 80183  -18.00
1 2019-07-31  SPICE FINE INDIAN CUISINE  -23.79
2 2019-07-30                 H-E-B #673  -30.12
3 2019-07-29  SPICE FINE INDIAN CUISINE  -30.00
4 2019-07-29  BUTTONS &amp; THREADS LLC   -6.99

In [168]:
# Data Source 3 : Import Bofa Checking data
Bofa_check = pd.read_csv("BofaChecking.csv", skiprows=6)

# Remove NaN
Bofa_check = Bofa_check.dropna(subset=['Amount'])

# Remove Banking Payments
Bofa_check = Bofa_check[~Bofa_check["Description"].str.contains('Online Banking payment')]
Bofa_check = Bofa_check[~Bofa_check["Description"].str.contains('CHASE CREDIT')]

Bofa_check = Bofa_check[["Date", "Description", "Amount"]]
Bofa_check.columns = ["Post Date", "Description", "Amount"]

# Convert post date string to date
Bofa_check["Post Date"] = pd.to_datetime(Bofa_check["Post Date"])

Bofa_check.columns = ["PostDate", "Description", "Amount"]

In [169]:
# Combine data sets
AllData = BofaCC_df
AllData = AllData.append(ChaseCC_df[["PostDate", "Description", "Amount"]])
AllData = AllData.append(Bofa_check[["PostDate", "Description", "Amount"]])

AllData.columns = ["post_date", "description", "amount"]

AllData = AllData.reset_index(drop=True)
AllData.head()

   post_date                        description  amount
0 2019-01-09   ATT*BILL PAYMENT 800-288-2020 TX  -52.20
1 2019-01-07  MURPHY EXPRESS 8614 CEDAR PARK TX  -15.19
2 2018-12-29        JUST ENERGY 866-587-8674 TX  -72.95
3 2018-12-24     COSTCO GAS #1152 CEDAR PARK TX  -18.43
4 2019-02-18  MURPHY7666ATWALMART CEDAR PARK TX  -23.56

In [170]:
# Add Credit/Debit column
def DebitCredit(row):
    if row['amount'] < 0:
        return 'Debit'
    else:
        return 'Credit'

AllData['tran_type'] = AllData.apply(DebitCredit, axis=1)

AllData.head()

   post_date                        description  amount tran_type
0 2019-01-09   ATT*BILL PAYMENT 800-288-2020 TX  -52.20     Debit
1 2019-01-07  MURPHY EXPRESS 8614 CEDAR PARK TX  -15.19     Debit
2 2018-12-29        JUST ENERGY 866-587-8674 TX  -72.95     Debit
3 2018-12-24     COSTCO GAS #1152 CEDAR PARK TX  -18.43     Debit
4 2019-02-18  MURPHY7666ATWALMART CEDAR PARK TX  -23.56     Debit

In [171]:
# Convert Description to lower case, so categorization doesnt have to worry about upper vs lower case

AllData["description"] = AllData["description"].str.lower()
AllData.head()

   post_date                        description  amount tran_type
0 2019-01-09   att*bill payment 800-288-2020 tx  -52.20     Debit
1 2019-01-07  murphy express 8614 cedar park tx  -15.19     Debit
2 2018-12-29        just energy 866-587-8674 tx  -72.95     Debit
3 2018-12-24     costco gas #1152 cedar park tx  -18.43     Debit
4 2019-02-18  murphy7666atwalmart cedar park tx  -23.56     Debit

In [172]:
# Function to categorize transaction

def findcategory(row):
    if ('robinhood' in row['description'] or 'fid bkg svc' in row['description'] or 'icici bank'in row['description']):
        return 'Investment'
    elif 'fogelman' in row['description']:
         return 'Rent'
    elif 'professional dat des' in row['description']:
         return 'Salary'
    elif ('just energy' in row['description'] or '4change' in row['description']):
         return 'Electricity'        
    elif 'att*bill' in row['description']:
         return 'Internet' 
    elif 'root insurance' in row['description']:
         return 'Car Insurance' 
    elif 'stillwater' in row['description']:
        return 'Renters Insurance'        
    elif ('murphy' in row['description'] or 'costco gas' in row['description'] \
         or 'buc-ee\'s' in row['description'] or 'exxonmobil' in row['description'] \
         or 'corner store' in row['description'] or 'chevron' in row['description'] \
         or 'sunoco' in row['description']):
         return 'Gas'
    elif ('h-e-b' in row['description'] or 'costco whse' in row['description'] or 'wal-mart' in row['description']\
         or 'wm supercenter' in row['description'] or 'sprouts' in row['description'] \
         or 'www costco' in row['description']):
         return 'Grocery' 
    elif ('taj grocery' in row['description'] or 'supermarket' in row['description'] \
         or 'super market' in row['description'] or 'big bazar' in row['description'] \
         or 'indo pak' in row['description'] or 'neelkanth' in row['description'] \
         or 'halal' in row['description']):
         return 'Indian Grocery'         
    elif ('trilogy education svcs' in row['description'] or 'newegg' in row['description']):
        return 'Education'
    elif ('bkofamerica atm' in row['description']):
        return 'ATM'
    elif ('wireless' in row['description'] or 'dellmont' in row['description']):
        return 'Phone'
    elif ('rock n grill' in row['description'] or 'spice fine' in row['description'] \
         or 'sangam' in row['description'] or 'nala' in row['description'] \
         or 'chutney' in row['description'] or 'salt n pepper' in row['description'] \
         or 'sitara' in row['description'] or 'anjappar' in row['description'] \
         or 'biryani' in row['description'] or 'joseph' in row['description']):
        return 'Indian Eatout'
    elif ('taco' in row['description'] or 'qdoba' in row['description'] \
         or 'burger' in row['description'] or 'papa john' in row['description'] \
         or 'mcdonald' in row['description'] or 'bombshells' in row['description'] \
         or 'chipotle' in row['description'] or 'chick-fil-a' in row['description'] \
         or 'sub' in row['description'] or 'razzoo' in row['description'] \
         or 'coffee' in row['description'] or 'pei wei' in row['description'] \
         or 'snow pea asian bistro' in row['description']):
        return 'Other Eatout'
    elif ('qr india' in row['description'] or 'spirit airl' in row['description'] \
         or 'expedia' in row['description'] or 'uber' in row['description'] \
         or 'tilden' in row['description'] or 'westin' in row['description'] \
         or 'qatar' in row['description'] or 'austin-bergstrom' in row['description'] \
         or 'fastpark' in row['description'] or 'iah parking' in row['description'] \
         or 'vegas' in row['description'] or 'ibibo group pvt limite' in row['description']):
        return 'Travel'
    elif ('firestone' in row['description'] or 'vehreg' in row['description'] \
         or 'txtag' in row['description']):
        return 'Car Expense'
    elif ('supercuts' in row['description'] or 'browz n henna' in row['description'] \
         or 'indulge nails' in row['description'] or 'threads llc' in row['description']):
        return 'Grooming'
    elif 'irs treas' in row['description']:
        return 'Tax Return'
    elif ('target card' in row['description'] or 'aeropostale' in row['description'] \
         or 'babymallonline' in row['description'] or 'dollar tree' in row['description'] \
         or 'five below' in row['description'] or 'academy sports' in row['description']):
        return 'Purchases'
    elif ('wpy*fund' in row['description'] or 'govind' in row['description']):
        return 'Charity'
    elif 'walgreens' in row['description']:
        return 'Pharmacy'
    elif ('annual membership fee' in row['description']):
        return 'Membership'
    else:
        return 'Others'

# Run function and assign category
AllData['category'] = AllData.apply(findcategory, axis=1)

AllData.head()

   post_date                        description  amount tran_type     category
0 2019-01-09   att*bill payment 800-288-2020 tx  -52.20     Debit     Internet
1 2019-01-07  murphy express 8614 cedar park tx  -15.19     Debit          Gas
2 2018-12-29        just energy 866-587-8674 tx  -72.95     Debit  Electricity
3 2018-12-24     costco gas #1152 cedar park tx  -18.43     Debit          Gas
4 2019-02-18  murphy7666atwalmart cedar park tx  -23.56     Debit          Gas

In [173]:
# Now, we have Credit Vs Debit as Type, change amounts to be absolute value

AllData["amount"] = AllData["amount"].abs()

In [161]:
# Connect to postgreSQL

engine = create_engine('postgresql://postgres:data123@localhost:5432/expenses_db')

In [162]:
# Insert data into postgreSQL database table

AllData.to_sql(name='transactions', con=engine, if_exists='append', index=True)

In [165]:
# Run query and confirm the data inserted
pd.read_sql_query('select * from transactions', con=engine).head()

,index,post_date,description,amount,tran_type,category
0,0,2019-01-09,att*bill payment 800-288-2020 tx,52.20,Debit,Internet
1,1,2019-01-07,murphy express 8614 cedar park tx,15.19,Debit,Gas
2,2,2018-12-29,just energy 866-587-8674 tx,72.95,Debit,Electricity
3,3,2018-12-24,costco gas #1152 cedar park tx,18.43,Debit,Gas
4,4,2019-02-18,murphy7666atwalmart cedar park tx,23.56,Debit,Gas